.AboutMe {
  font-size: 1.3vw;
}

.AboutMe .info-block {
  max-width: 1500px;
  margin: 90px auto;
}
.AboutMe .info-block p {
  margin-bottom: 24px;
}
.AboutMe img {
  width: 100%;
  padding-right: 30px;
}
.AboutMe a {
  color: var(--link-color);
  text-decoration: none;
}
